body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modal {
  display: none;
}

.modal-content {
  position: absolute;
  background-color: white;
  border: solid 1px black;

  margin: 3em auto;

  padding: 1em;
}