body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  color: rgba(255,255,255,0.5);

}

.modal-content {
  position: absolute;
  background-color: white;
  border: solid 1px black;

  margin: 3em auto;

  padding: 1em;
}