body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modal {
  display: none;
}

.modal-content {
  position: fixed;
  background-color: white;
  border: solid 1px black;
  left: 0;
  right: 0;
  top: 3em;
  width: 10em;
}